.card{
    img{
        width: 233px;
        height: 350px;
    }
    .card_name{
        font-size: 20px;
    }
    padding: 20px;
}

.card_small{
    img{
        width: 183px;
        height: 250px;
    }
    .card_name{
        font-size: 15px;
    }
}

