.largest {
    width: 400px;
    aspect-ratio: 3/4;
}

.large {
    width: 330px;
    aspect-ratio: 3/4;
}

.normal {
    width: 220px;
    aspect-ratio: 3/4;
}

.regular {
    width: 180px;
    aspect-ratio: 3/4;
}

.small {
    width: 140px;
    aspect-ratio: 3/4;
}

.thumb {
    width: 80px;
    aspect-ratio: 3/4;
}

.thumbAvatar {
    width: 60px;
    aspect-ratio: 3/4;
}

.logo {
    width: 50px;
}

.topRound {
    border-radius: 10px 10px 0 0;
}

.logoSmall {
    width: 30px;
}