.largest {
    width: 400px;
    height: 550px;
}

.large {
    width: 330px;
    height: 450px;
}

.normal {
    width: 233px;
    height: 350px;
}

.small {
    width: 120px;
    height: 180px;
}

.thumb {
    width: 80px;
    height: 120px;
}