.subMenu {
    position: absolute;
    top: 60px;
    display: none;
    width: auto;
    text-align: left;
    z-index: 100;
    padding: 10px;
    border-left: 2px solid #8b7e74;
    border-right: 2px solid #8b7e74;
    border-bottom: 2px solid #8b7e74;
    background-color: #8b7e74;
    border-radius: 0 0 20px 20px;

    &:hover {
        
        display: block;
    }

    
}

.btn:hover ~ .subMenu {
    display: block;
}
