.playerWrapper {
    background-color: #f0ecec;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid rgb(145, 142, 142);

    border-radius: 0 0 10px 10px;
}

.itemWrapper {
    max-height: 350px;
    overflow-y: auto;
}

.controls{
    margin-top: 5px;
    padding-bottom: 10px;
}

.chapterItem {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    cursor: pointer;
    &:last-of-type{
        border-radius: 0 0 10px 10px;

    }
}

.activeItem {
    background-color: #f0742c;
}

.timeAudio{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
