.nav_link{
    color: red;
}

.container{
    margin-left: 10%;
    margin-right: 10%;
}

.navbar{
    display: flex;
    min-height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    background-color: #ddc3af;
}