.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #f0f2f5;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border-radius: 3px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.edit_btn:hover {
  color: rgb(40, 189, 226);
}

.delete_btn:hover {
  color: red;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  min-height: calc(100vh - 260px) !important;  
  background-color: #ffffff;
}

.round_img{
  border-radius: 20%;
}

.left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.m-top-20 {
  margin-top: 20px;
}

.m-left-5{
  margin-left: .5rem;
}

.m-left-20 {
  margin-left: 20px;
}

.m-auto {
  margin: auto;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}


.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.f-row {
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.modal-content {
  display: flex;
  justify-content: center;
}

/* END MODAL */

/* ------------------- SECTION ------------------------------*/
.section{
  padding-top: 30px;
  position: relative;
}

.section_name{
  font-size: 1.2em;
  border: 3px solid #C7BCA1;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_name_left{
  display: flex;
  align-items: center;
  
}

.section_content {
  margin-top: 30px;
}

.link {
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.link_padding {
  padding: 20px;
}
/* ------------------- END SECTION -------------------------- */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
