.App {
  text-align: center;
  box-sizing: border-box;
  background-color: #f0f2f5;
  font-family: 'Nunito';
  font-weight: 500;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  border-radius: 3px;
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.edit_btn:hover {
  color: rgb(40, 189, 226);
}

.delete_btn:hover {
  color: red;
}

.container {
  width: calc(100% - 170px);
  min-height: calc(100vh - 115px) !important;  
  height: auto;
  background-color: #ebebeb;
  padding-top: 15px;
  flex-grow: 2;
  transition: 1s;
}



.round_img{
  border-radius: 20px 20px 0 0;
  width: 100%;
  aspect-ratio: 1/1;
}

.left {
  float: left;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.m-top-20 {
  margin-top: 20px;
}

.m-left-5{
  margin-left: .5rem;
}

.m-left-20 {
  margin-left: 20px;
}

.m-auto {
  margin: auto;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}


.m-20 {
  margin: 20px;
}

.p-20 {
  padding: 20px;
}


.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.a-center {
  align-items: center;
}

.f-row {
  flex-direction: row;
}

.f-column {
  flex-direction: column;
}

.mh-i {
  min-height: inherit
}

.v-m {
  vertical-align: middle;
}

.fixed {
  position: fixed;
  top: 0;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
}
/* ROUND */
.round {
  border-radius: 10px
}
.round_top {
  border-radius: 10px 10px 0 0;
}

.round_bottom {
  border-radius: 0 0 10px 10px;
}

.round_left {
  border-radius: 10px 0 0 10px;
}

.round_right {
  border-radius: 0 10px 10px 0;
}


/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.modal-content {
  display: flex;
  justify-content: center;
}

/* END MODAL */

/* ------------------- SECTION ------------------------------*/
.section{
  padding-top: 30px;
  position: relative;
}

.section_name{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section_name_left{
  display: flex;
  align-items: center;
  font-family: 'NunitoBold';
  font-weight: bolder;
  font-size: 1.5rem;
}

.section_content {
  margin-top: 30px;
  min-height: 80px;
  position: relative;
}

.link {
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.link_padding {
  padding: 20px;
}

.absolute-middle {
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ------------------- END SECTION -------------------------- */

.loading {
  font-size: 30px;
  position: fixed;
  top: 40%;
  left: 50%;
}

.loading-relative {
  font-size: 25px;
  display: block;
  margin: auto;
}

.helperText {
  color: rgb(228, 35, 35);
  font-size: 0.7em;
  font-weight: 500;
}
.rotate{
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% { 
    transform: rotate(0); 
  }
  100% { 
    transform: rotate(360deg);
  }
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width:850px) {
  .section_name_left{
    font-size: 1.2em;
  }
  .link_padding {
    padding: 10px;
  }
}

@media screen and (max-width:550px) {
  
  .container{
    margin: 0
  }
  .section_name_left{
    font-size: 1.1em;
  }
  .title {
    font-size: 0.9rem;
  }
  .link_padding{
    padding: 5px;
  }
  
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Regular.ttf");
}

@font-face {
  font-family: NunitoBold;
  src: url("../assets/fonts/Nunito-Bold.ttf");
}