.wrapper {
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
}

.body {
    display: flex;
    justify-content: space-between;
}

.left_content {
    border: 1px solid black;
    text-align: left;
    padding: 20px;
    width: 50%;
    
    img{
       
        aspect-ratio: 3/4;
        width: 100%;
        min-width: 200px;
    }
}

.right_content {
    border: 1px solid black;
    width: 60%;
    padding: 20px;
}

.desc {
    overflow-wrap: break-word;
}
.commentsSection {
    margin-top: 50px;
    padding-bottom: 20px;
}

